.navbar-bg {
  background-color: white;
}

.hover-navbar {
  background: transparent;
  transition: background-color 200ms ease-in;
}

.hover-navbar:hover {
  background-color: white;
}

.search-button {
  margin-left: 1rem;
  height: 2.24rem;
}
